body {
    font-family: "Montserrat";
    text-align: center;
    background-color: #231F20;

  }

h1{
    margin-top: 50px;
    color: #F4FAF4;
    margin-bottom: 50px;
}

span{
    color: #944AFF;
}

.btn{
    background-color: #944AFF ;
}